body {
    background-color: #212426;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: antiquewhite;
    margin-bottom: 50px;
}

.login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login > input {
    margin: 10px;
}

.loginbut {
    background-color: #F58C0E;
    width: 30%;
    border: none;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.registerbutton {
    background-color: #1a1a1a;
    border: 2px solid #F58C0E;
    color: antiquewhite;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}


.registerbutton:hover {
    cursor: pointer;
}

input[type=text],input[type=password], select {
    padding: 12px 20px;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#password {
    margin-bottom: 45px;
}

@media only screen and (max-width: 600px) {
    .login {
        margin-top: 15px;
        width: 360px;
        height: 500px;
    }
    h2 {
        margin-bottom: 25px;
    }
}